# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.mypy_cache/
.pytest_cache/

# Environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Local outputs and artifacts
outputs/
*.tmp
tmp_*.txt

# Secrets
.env

# OS / Misc
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# Binaries
*.exe
*.dll
*.so
*.dylib
